@import url(./__item/photo-grid__item.css);

.photo-grid {
    display: grid;
    grid-template-columns: 284px 284px 284px 284px;
    grid-template-rows: 213px 213px 213px 213px;
    grid-gap: 16px;
    margin: 200px auto 92px;
    max-width: 1184px;
    max-height: 671px;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 320px) {
    
}