@import url(../__lang/__lang-link/header__lang-link.css);

.header__lang {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px;
}