.cover__subtitle {
    font-family: Inter;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    max-width: 320px;
    /*max-height: 66px;*/
    margin: 391px 432px 283px;
    text-align: center;
    z-index: 1;
    position: absolute;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        margin: 341px 352px 233px;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        margin: 261px 224px 153px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        margin: 102px 16px 50px;
    }
}