@import url(./__lang/header__lang.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__logo/header__logo.css);
.header {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 984px;
    width: 100%;
    margin: auto;
    padding-top: 34px;
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        /*margin: 34px auto 50px;*/
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        /*margin: 20px auto 50px;*/
        max-width: 288px;
        padding-top: 20px;
    }
}