.footer__link-item {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 18px;
    transition: opacity 0.4s ease-in;
}

.footer__link-item:last-child {
    margin-right: 0px;
}

.footer__link-item:hover {
    opacity: 0.8;
}

@media screen and (max-width: 568px) {
    .footer__link-item {
        display: block;
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 18px 0;
    }
}