.place__paragraph {
    margin-top: 0px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */
    color: #FFFFFF;
}

.place__paragraph:first-child {
    margin-bottom: 26px;
}

.place__paragraph:last-child {
    margin-top: 27px;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    .place__paragraph:first-child {
        margin-bottom: 25px;
    }

    .place__paragraph:last-child {
        margin-top: 25px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph:last-child {
        margin-top: 26px;
    }
}