.lead__image {
    width: 100%;
    margin: 64px auto 8px;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        margin: 56px auto 8px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        margin: 40px auto 8px;
    }
}