.lead__image {
    max-width: 984px;
    max-height: 615px;
    margin: 64px 148px 8px 0px;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 320px) {
    
}