.lead__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    max-width: 620px;
    margin: 40px auto 0px;
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
    }
}