@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__background/cover__background.css);

.cover {
    font-family: 'Inter', Arial, sans-serif;
    max-width: 1184px;
    width: 100%;
    /*max-height: auto;
    /*border: #2A2C2F 0.1px solid;*/
    margin: 0px auto;
    padding: 292px 48px;
    display: flex;
    border: 5px solid blue;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
    }
}