.place__website-url-heading {
    font-family: Inter;
    font-weight: 400;
    color: #AAAAAA;
    font-size: 12px;
    line-height: 20.4px;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    .place__website-url-heading {
        line-height: 12px;
    }

}

@media screen and (max-width: 320px) {
    
}