.place__website-url-heading {
    color: #AAAAAA;
    font-size: 12px;
    line-height: 20.4px;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 320px) {
    
}