.cover__background {
    background-image: url(../../../images/cover-route-66.jpg);
    max-width: 1184px;
    max-height: 740px;
    z-index: -2;
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: auto;
    margin: auto;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 320px) {
    
}