@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__paragraph/place__paragraph.css);

.place {
    display: grid;
    grid-template-columns: 1fr 1fr/*460px 484px*/;
    grid-auto-rows: minmax(46px, auto);
    grid-template-areas: 
        "title website"
        "photo paragraph-top"
        "photo paragraph-middle"
        "photo paragraph-bottom";
    grid-column-gap: 40px;
    max-width: 984px;
    /*max-height: auto;*/
    margin-bottom: 81px;
}

.place:last-child {
    margin-bottom: 0px;
    grid-column-gap: 40px;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 720px;    
}
}

@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
        grid-template-areas: 
        "title" 
        "website"
        "photo"
        "paragraph-top"
        "paragraph-middle"
        "paragraph-bottom";
    }
}