@import url(./__link/footer__link.css);
@import url(./__link-list/footer__link-list.css);
@import url(./__link-item/footer__link-item.css);
@import url(./__copyright/footer__copyright.css);
.footer {
    font-family: 'Inter', Arial, sans-serif;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-items: flex-end;
    width: 100%;
    margin: 92px auto 24px;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        margin: 88px auto 24px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 168px;
        flex-direction: column;
        justify-content: left;
        margin: 48px auto 24px;
    }
}