@import url(./-url-heading/place__website-url-heading.css);
@import url(./-link/place__website-link.css);

.place__website {
    color: #FFFFFF;
    list-style: none;
    grid-area: website;
    /*max-width: 456px;
    max-height: 46px;*/
    margin: 0px;
    padding-left: 0px;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 320px) {
    .place__website {
        display: none;
    }
    
}