@font-face {
  font-family: "Inter";
  src: url(../vendor/fonts/Inter-V.ttf);
}

/*@font-face {
  font-family: Inter-Regular;
  src: url(../vendor/fonts/Inter-Regular.otf);
}

@font-face {
  font-family: Inter-Bold;
  src: url(../vendor/fonts/Inter-Bold.otf);
}

@font-face {
  font-family: Inter-Black;
  src: url(../vendor/fonts/Inter-Black.otf);
}*/

/*.page {
  display: flex;
    /*flex container 
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width 
    max-width: 1600px;
    /* here we've set a maximum page width 
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px 
    font-family: "Inter", Arial, Helvetica;
    position: relative;
    /* to make things appear in front of other blocks on smaller screens? */
    /* this is a test
  }*/